In [2]:
import pandas as pd 

df = "Mar-2019.csv"

citibike = pd.read_csv(df)
citibike

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18560,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26189,Subscriber,1983,1
18561,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,3694,Jackson Square,40.711130,-74.078900,3679,Bergen Ave,40.722104,-74.071455,29296,Subscriber,1985,1
18562,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29673,Subscriber,1977,1
18563,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29672,Subscriber,1977,1
18564,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26189,Subscriber,1983,2